.products-container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    justify-content: center;
    flex-direction: row;
    margin: 30px 0 30px 0;
}

.product-container {
    display: flex;
    flex-direction: column;
    min-height: 316px;
    width: 20%;
    max-width: 280px;
    padding: 20px;
    margin: 20px 10px 20px 10px;
    border: solid 2px #00000008;
    border-radius: 30px;
    justify-content: space-between;
}

.product-image-container {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-title {
    font-size: medium;

}

.product-category {
    font-size: small;
}

/* .product-price {

} */

.product-image {
    height: auto;
    width: 50%;
}


.product-functions-container {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.product-functions-items {
    font-weight: bold;
    cursor: pointer;
}
