.compare-wrapper {
    display: flex; 
    gap: 5%;
    padding: 5%;
}

.compare-product-container {
    width: 50%;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.compare-product-title {
    height: 7vh;
}

.compare-product-desc {
    height: 20vh;
    text-align: center;
    border: 2px solid;
}

.compare-product-price {
    font-weight: bold;
}
