.sidebar-wrapper {
    position: relative;
    width: 20%;
    z-index: 1;
}



.sidebar-container {
    color: #364a77;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: stretch;
    position: fixed;
    left: 0;
    height: 100vh;
    bottom: 0;
    justify-content: center;
}

.sidebar-titles {
    padding: 7% 0;
    cursor: pointer;
    margin: 0;
    width: 100%;
    text-align: start;
    font-weight: 400;
} 

.sidebar-titles:hover {
    color: black;
    background-color: #d4e2ff2a;
} 

.sidebar-wrapper .sidebar-container .sidebar-titles:nth-child(2n) {
    border-top: #364a77 solid 1px;
    border-bottom: #364a77 solid 1px;
}