.sidebar-wrapper{
    position: relative;
    width: 20%;
}

.sidebar-container {
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    position: fixed;
    left: 0;
    height: 100vh;
    bottom: 0;
    justify-content: center;
}

.sidebar-titles {
    margin: 7% 0;
    cursor: pointer;
} 