.Footer-container {
    height: 100px;
    width: 100%;
    background-color: #3f5b97;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 -7px 20px 0px #ababab;
}

.footer-title {
    font-family: 'Rubik Glitch', cursive;
    font-size: 30px;
}

.footer-logo {
    height: 80px;
}

.footer-links-img {
    height: 30px;
    filter: brightness(1);
}
.footer-links-img:hover {
    filter: brightness(0.5)
}

.links-container {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#linked-in {
    filter: grayscale(100%) brightness(2.6);
}
#linked-in:hover {
    filter: grayscale(100%) brightness(1);
}

.footer-logo-container {
    width: 250px;
    position: absolute;
}